.nav-menu {
    list-style-type: none;
    width: 80%;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: #d0d0d0;
    gap: 10px;
    align-items: center;
}

.nav-item {
    background-color: #fff;
    color: #ff9c25;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
}

@media (max-width: 1024px) {
    .nav-menu {
        flex-wrap: wrap;
    }

    .nav-item {
        flex: 0 0 100%;
        margin: 0;
        background: transparent;
        color: black;
        border: 0;
        border-bottom: 1px solid black;
    }
    .nav-menu .nav-item:nth-last-of-type() {
        border-bottom: 0;
    }
    .nav-item::before {
        content: '>';
    }
}

@media (max-width: 610px) {
    .nav-item {
        background-color: yellow;
        color: red;
    }
}