* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.direction-col {
    flex-direction: column;
}

.grow-30 {
    flex: 0 0 30%;
}

.gap-2 {
    gap: 20px;
}

.justify-content-center {
    justify-content: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
