@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
.container {
    width: 95%;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.site {
    margin: 25px;
    gap: 10px
}

.left-side {
    margin-left: 90px;
    margin-right: 35px;
    width: 33%;
} 

.left-side img{
    height: 100%;
    width: 100%
} 

.right-side {
    gap: 20px;
    width: 60%;
    margin-right: 90px;
}
.about-us {
    border-left: 5px solid #7ab730;
    height: 50%;
    background-color: #f3f3f3;
    text-transform: uppercase;
    padding: 45px;
}

.about-us p {
   color: #7ab730;
   font-size: small;
   margin-bottom: 20px;
   font-weight: 500;
}

.about-us h1 {
    font-size: 55px;
    line-height: 1;
    font-weight: 600;
}

.text {
    text-align: center;
    color: #656565;
    font-weight: 600;
    font-size: 15px;
}

.description {
    background-color: #f3f3f3;
    padding: 30px;
}

.mission {
    padding: 5px;
    flex: 0 0 50%;
    justify-content: center;
    background-color: #7ab730;
    color: white;
    text-transform: uppercase;
}

.vision {
    align-items: center;
    flex: 0 0 50%;
    justify-content: center;
    text-transform: uppercase;
    background-color: #f0f0f0;
    color: #7ab730;
}

.description p {
    margin-top: 15px;
    line-height: 1;
    font-size: 15px;
    opacity: 0.7;
}
