.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}

header h1 {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    color: #000;
    margin: 10px 0px;
}

header p {
    font-size: 1.2rem;
    font-weight: 500;
}

h3 {
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

footer {
    text-align: left;
}

footer p {
    font-style: italic;
}
